/*
============================================
TeamsGrid Styles
============================================ */

.teams-grid {
  /* CSS Grid layout */
  display: grid;

  /*Responsive columns:
    - repeat: create multiple columns
    - auto-fit: automatically fit as many columns as possible
    - minmax(150px, 1fr): each column is at least 150px, max 1 fraction of available space

    Result: cards automatically wrap to new rows on smaller screens */
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));

  /* grid-template-columns: repeat(2, 1fr); */
  /* Space between grid items (cards) */
  gap: 8px;

  /* Space below the grid */
  margin-bottom: 32px;

  @media (min-width: 480px) {
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 10px;
  }

  @media (min-width: 700px) {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 16px;
  }
}
