.standings-table-caption {
  display: inline-block;
  margin-top: 16px;
  background: var(--card-bg);
  border-radius: 12px;
  box-shadow: 0 2px 8px var(--shadow);
  padding: 5px 20px;
}

.caption-item {
  display: flex;
  align-items: center;
  margin-bottom: 2px;
  color: var(--text-light);
  font-size: 14px;
}

.caption-abbr {
  width: 40px; /* Fixed width for abbreviation */
  font-weight: 600;
}
.caption-dash {
  margin: 0 10px; /* Equal spacing left and right */
}
.caption-text {
  flex: 1;
  margin-left: 10px;
}
