.match-card {
  background: var(--card-bg);
  border-radius: 12px;
  padding: 16px;
  box-shadow: 0 2px 8px var(--shadow);
  position: relative;
  transition: all 300ms;
}

/* Add green left border if live*/
/* .match-card--live {
  border-left: 4px solid var(--success, green);
}
.match-card:hover {
  cursor: pointer;
} */

.match-card .active-badge {
  /* position: absolute; */
  /* liveBadge: {
      position: "absolute",
      top: "12px",
      right: "12px",
      background: "var(--success)",
      color: "white",
      padding: "4px 12px",
      borderRadius: "16px",
      fontSize: "11px",
      fontWeight: "700",
      display: "flex",
      alignItems: "center",
      gap: "6px",
    } */
}

.match-card .active-badge .pulse-dot {
  /* width: 8px;
  height: 8px; */
  /* pulseDot: {
      width: "8px",
      height: "8px",
      background: "white",
      borderRadius: "50%",
      animation: "pulse 1.5s infinite",
    } */
}

.match-card .datetime {
  /* font-size: 13px; */
  /* datetime: {
      fontSize: "13px",
      color: "var(--text-light)",
      marginBottom: "16px",
    } */
}

.match-card .teams {
  /* display: grid; */
  /* teams: {
      display: "grid",
      gridTemplateColumns: "1fr auto 1fr",
      gap: "16px",
      alignItems: "center",
      marginBottom: "12px",
    } */
}

.match-card .teams .team {
  /* display: flex; */
  /* team: {
      display: "flex",
      flexDirection: "column",
      alignItems: "center",
      gap: "8px",
    } */
}
.match-card .teams .team .team-logo {
  /* width: 48px;
  height: 48px; */
  /* teamLogo: {
      width: "48px",
      height: "48px",
      background: "var(--border)",
      borderRadius: "8px",
      display: "flex",
      alignItems: "center",
      justifyContent: "center",
      fontWeight: "700",
      color: "var(--text-light)",
    } */
}

.match-card .teams .team .team-name {
  /* font-size: 14px; */
  /* teamName: {
      fontSize: "14px",
      fontWeight: "600",
      textAlign: "center",
      color: "var(--text)",
    } */
}
.match-card .teams .score {
  /* font-size: 32px; */
  /* score: {
      fontSize: "32px",
      fontWeight: "700",
      display: "flex",
      alignItems: "center",
      gap: "8px",
      color: "var(--text)",
    } */
}

.match-card .teams .vs {
  /* font-size: 16px; */
  /* vs: {
      fontSize: "16px",
      color: "var(--text-light)",
    } */
}

.match-card .info {
  /* font-size: 12px; */
  /* info: {
      fontSize: "12px",
      color: "var(--text-light)",
      paddingTop: "12px",
      borderTop: "1px solid var(--border)",
    } */
}

.match-card .teams .score .score-separator {
  color: var(--text-light);
  color: red;
}
