/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

.coming-soon-container {
  background-color: rgb(211, 208, 208);
  width: 100vw;
  height: 100vh;
  display: grid;
  /* justify-content: center;
  align-content: center; */
  place-content: center; /*place-content is shorthand for align-content + justify-content*/
}

.coming-soon-container h1 {
  color: rgb(0, 0, 0);
  font-size: 1rem;
}
.coming-soon-container p {
  color: rgb(131, 130, 130);
}
