/*Hero Section*/
.hero {
  background: linear-gradient(130deg, blue 0%, yellow 100%);
  color: white;
  padding: 3rem 1.5rem;
  border-radius: 1rem;
  margin-bottom: 2rem;
  text-align: center;

  margin-top: 1.5rem; /*test*/
}

.hero h1 {
  font-size: 2rem;
  margin-bottom: 0.8rem;
}

.hero p {
  opacity: 0.9;
}
