/* ============================================
   _links.css - Link Styles
   ============================================

   Styles for anchor tags
*/
.wrapper-Link {
  color: currentColor;
  text-decoration: none;
  cursor: pointer;
}
/* a {
  font-weight: 500;
  color:inherit; ** var(--color-link), #646cff; **
  text-decoration: inherit;
  transition: color 0.25s ease;
}

a:hover {
  color: var(--color-link-hover) #535bf2;
} */
