*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  /* display: grid;
  place-items: center; */
  min-width: 320px;
  min-height: 100vh;
  color: var(--text);
  background-color: var(--bg);
}

ul,
ol {
  list-style: none;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
